
<% users.each do |user| %> 
    <% unless user.id == current_user.id || 
    current_user.friend_invitations.where(requester_id: user.id)[0].nil? == false ||
    current_user.friend_requests.where(recipient_id: user.id)[0].nil? == false ||
    user.friend?(user.id, current_user.id) %>     
     <div class="card" style="margin: 10px;">
        <div class="card-header">
            <%= link_to (user.first_name + " " + user.last_name), user_path(user.id)%>
            
        </div>
        <div class="card-body">   
            <%= button_to "Send friend request", friend_requests_path, method: :post, params: { recipient_id: user.id }, class:"btn btn-primary btn-sm", style: "margin-left: 10px"%>
        </div>
    </div>    
       
    <% end %>
<% end %>