<% if current_user.friend_invitations[0].nil? %>
    <p>You don't have any pending friend requests right now.</p>
<% else %>    
  <% current_user.friend_invitations.each do |invitation| %>
    <div class="card" style="margin: 10px;">
      <div class="card-header">
        <%= link_to (User.find(invitation.requester_id).first_name + " " + User.find(invitation.requester_id).last_name), user_path(invitation.requester_id) %>
        
      </div>  
      <div class="card-body">
        <%= button_to friendships_path, method: :post, params: { friend_b_id: User.find(invitation.requester_id).id }, class:"btn btn-success" do %>
          <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            Accept friend request
          </div>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>
<% end %> 