<% if current_user.friend_invitations[0].nil? %>
    <p> You don't have any pending friend requests right now.. </p>
<% else %>    
    <% current_user.friend_invitations.each do |invitation| %>
      <div class="card">
        <div class="card-body">
        <%= User.find(invitation.requester_id).first_name %>  <%= User.find(invitation.requester_id).last_name %>
         <%= button_to "Accept Friend Request", friendships_path, method: :post, params: { friend_b_id: User.find(invitation.requester_id).id }, class:"btn btn-success" %>
        </div>
      </div>
      <br>
  <% end %>
<% end %> 