<% if current_user.friend_requests[0].nil? %>
    <p>All of your friend requests have been accepted!</p>
<% else %> 
  <% current_user.friend_requests.each do |request| %>
    <div class="card" style="margin: 10px;">
      <div class="card-header">
        <%= link_to (User.find(request.recipient_id).first_name + " " + User.find(request.recipient_id).last_name), user_path(request.recipient_id) %>
      </div>
      <div class="card-body">
        <div class="btn btn-secondary">Request sent</div>
      </div>
    </div>
    
  <% end %>
<% end %>