<% if current_user.friend_requests[0].nil? %>
    <p>All of your friend requests have been accepted!</p>
<% else %> 
  <% current_user.friend_requests.each do |request| %>
      <div class="card" style="width: 18rem">
        <div class="card-body" style="padding: 10px">
        <%= User.find(request.recipient_id).first_name %>  <%= User.find(request.recipient_id).last_name %>
        
        </div>
      </div>
      <br>
  <% end %>
<% end %>