<h1>All Users</h1>

<% @users.each do |user| %>
     <% unless user.id == current_user.id %>    
     <div class="card">
        <div class="card-body">
            <%= user.first_name %> <%= user.last_name %>
            <%= button_to "Send", friend_requests_path, action: "create", method: :post, params: { recipient_id: user.id } %>
        </div>
    </div>    
        <br>
    <% end %>
<% end %>


  
  
