<h1> Friends </h1>
<%= render 'friends'%>

<h1> Sent Requests (Awaiting friend approval) </h1>
<%= render 'sent_requests' %>

<h1> Friend Requests (Click below to accept friendship) </h1>
<%= render 'friend_requests' %>

<h1>All Users</h1>
<%= render 'all_users' %>





      