<% if user_signed_in?%>
  <div> 
    <%= render "form", post: @post %>
    
    <br/>
    <div id="posts">
      <% @posts.each do |post| %>
  
        <% if post.user.friend?(post.user.id, current_user.id) || post.user.id == current_user.id%>
          <%= render post %>
        <% end %>   
      <% end %>
    </div>
  </div>
<% else %>

  <% controller.redirect_to new_user_session_path %>
  
<% end %>