<% if user_signed_in?%>
  <h1>My Feed</h1>
  
  <%= link_to "Click here to post!", new_post_path, class: "btn btn-secondary"%>
  <br/>
  <br/>
  <div id="posts">
    <% @posts.each do |post| %>

      <% if post.user.friend?(post.user.id, current_user.id) || post.user.id == current_user.id%>
        <%= render post %>
      <% end %>   
    <% end %>
  </div>

<% else %>

  <h1>FakeBook</h1>
  <p> Sign up or log in by clicking the links above</p>
  
<% end %>