<% if user_signed_in?%>
  <h1>Posts</h1>
  
  <div id="posts">
    <% @posts.each do |post| %>
      <%= post.body %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  </div>
  
  <%= link_to "New post", new_post_path %>

<% else %>

  <h1>FakeBook</h1>
  <p> Sign up or sign in by clicking the links above</p>
  
<% end %>
