<% if @post.errors.any? %>
  <div class="alert alert-warning" role="alert">
      <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
      <% end %>
</div>
<% end %>
<div>
  <%= link_to "Back", :back , class:'btn btn-secondary' %>
</div>
